@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Dharma Catholic E";
    src: url("../src/assets/DharmaGothicE-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

body{
    background-color:  #FDFBF4;;
}

h1{

    color: #191919;

    font-family: "Dharma Gothic E";
    font-size: 280px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -7.4px;
    text-transform: uppercase;


}

h3{
    color: #191919;
    leading-trim: both;
    text-edge: cap;
    font-family: "Dharma Gothic E";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h5{
    color: #191919;
    font-family: "Averia Serif Libre";
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.075rem;
    text-transform: uppercase;
}

#joincomm{
    color: #191919;
    leading-trim: both;
    text-edge: cap;
    font-family: "Dharma Gothic E";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.bottomnav{
    color: #191919;
    font-family: "Open Sans";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}